/* ---- HEADER ---- */
.avatar {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    display: block;
    margin: auto;
}

.name {
    text-transform: uppercase;
    text-align: center;
}

.interests {
    text-align: center;
}

.interests__item {
    display: list-item inline;
    list-style-type: none;
    font-size: larger;
}

.interests__item:not(:first-child)::before {
    content: "/";
}

.social-links {
    text-align: center;
}

.social-links__item > a, a:visited {
    color: black;
}

.social-links__item {
    list-style-type: none;
    display: list-item inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ---- MAIN ---- */

.paper-navigation {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    font-size: larger;
}

.navigation-link::before {
    content: "[\00a0";
}

.navigation-link::after {
    content: "\00a0]";
}

.paper-content {
    padding: 5px;
}

.skill-list, .career-element, .certificate-list, .project-list {
    padding-left: 2.5em;
}

.career-element:not(:last-child), .certificate:not(:last-child) {
    margin-bottom: 15px;
}

.career-element_date, .certificate_date {
    color: darkslategrey;
    font-style: italic;
}

.career-element_title, .certificate_title, .project_title {
    font-size: larger;
    font-weight: bold;
}

.project {
    width: 50%;
    padding: 5px;
}

.project:hover {
    background-color: black;
    border-radius: 5px;
}

.navigation-link:hover, .career-element_place > a:hover, .project__link:hover {
    background-color: black;
    color: white;
    text-decoration: unset;
}

/* ---- DEFAULT ---- */

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    padding-top: 3vh;
}