<!DOCTYPE html>
<html lang="de-DE">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Milan Höllner">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
    <title>
        {{ page.title }}
    </title>
</head>

<body>
    <div class="container">
        <main>
            {{ content }}
        </main>
        <footer class="centered">
            <hr>
            <a href="/">Home</a> |
            <a href="/portfolio">Portfolio</a> |
            <a href="/professional-career">Professional Career</a>
        </footer>
    </div>
</body>

</html>